*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background: #fd5656;
}

.main_card{
    width: 550px;
    height: 600px;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 20px 20px 20px 230px;
    border-radius: 8px;
}

.main_card h2{
    color: #919191;
    font-size: 30px;
    margin-top: 20px;
}

.main_card .tag{
    font-family: arial;
    font-size: 15px;
    margin-top: 5px;
}

.main_card .price{
    margin: 25px 0;
    color: red;
}

.main_card .price span{
    font-size: 60px;
    color: #f40000;
    margin-left: 20px;
}

.main_card .select .color{ 
    color: #919191;
    font-size: 13px;
    font-weight: bold;
}

.main_card .select .s_apple{ 
    width: 45px;
    padding: 8px;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: 0.4s;
}

.main_card .select .s_apple:hover{
    border: 1px solid #f40000;
}

.main_card .details .heading{
    font-size: 15px;
    color: #919191;
    margin: 10px 0;
}

.main_card .details ul li{
    margin: 8px 0 8px 15px;
}

.main_card .btn{
    width: 200px;
    height: 50px;
    background: #f40000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    position: absolute;
    margin-top: 30px;
    transition: 0.2s;
}

.main_card .btn:hover{
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.small_card{
    width: 350px;
    height: 530px;
    background-image: url(./image/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    padding: 15px;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    border-bottom: 5px solid #fff;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.small_card .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small_card .icon i{
    color: #fff;
    font-size: 20px;
}

.small_card .imge img{
    width: 360px;
    position: relative;
    top: 30px;
    right: 70px;
}